/*****************************
*      BASE CSS STYLING      *
******************************/
body {
  background-color: #CDBAAF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant', serif;
}
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}
p {
  font-family: Lora, serif;
}

em {
  color: #96654A;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #333024;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 12em;
  padding: 1.5em 0;
  margin-top: .5em;
  background-color: #ABA78F;
}
/******************************
*      CUSTOM CSS LAYOUTS     *
*******************************/
nav > ul {
  text-align: center;
  padding: 1em;
}

nav > ul li{
  display: inline-block;
  margin: 0 1em;
  color: #96654A;
  font-family: Cormorant, serif;
  font-size: 1.5em;
  font-weight: 900;
}

#header-image-container{
  text-align: center;
  background-color: #ABA78F;
}

#header-h1 {
  position: absolute;
  font-size: 4em;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-salmon-cookies {
  margin: auto;
  text-align: center;
  width: 66%;
  max-width: 960px;
}

#locations-hours-footer {
  margin: 0 3em;
}

#locations-list-footer > li {
  margin: 5px 0;
}