header {
  background-color: #CDBAAF;
  height: 296px;
  margin-bottom: 30px;
  position: relative;
}

header img {
  display: block;
  margin: auto;
}

header h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  color: #B81C29;
}

nav {
  max-width: 100%;
  background-color: #333024;
}

nav ul {
  max-width: 960px;
  text-align: center;
  margin: auto;
}
nav li {
  display: inline-block;
  margin: 0 30px;
  width: 135px;
  line-height: 50px;
  white-space: nowrap;
}

main {
  max-width: 960px;
  margin: auto;
}

main section {
  margin: 0 auto 30px auto;
}

main section:first-child, main section:nth-child(2) {
  text-align: center;
  width: 75%;
}

main section article {
  float: left;
  width: 50%;
  margin: 0 30px 30px 0;
}

main section article h2 {
  width: 100%;
  margin: 20px auto 30px auto;
  font-size: 36px;
}

main section article ul {
  font-size: 16px;
}

main section article ul li {
  text-align: left;
  margin-left: 30px;
}

main section article ul li:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 30px;
    background-size: 30px;
    background-image: url("../img/salmon.png");
    background-repeat: no-repeat;
    margin-right: 10px;
}
